.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
.page_font-default {
  margin: 0;
}

.header {
  /* border: 1px solid red; */
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  background-color: #f2f2f2;
    
  /* выше установили ограничения для секции */
}

.logo {
  width: 228px;
  height: 32px;
  /* border: 1px solid red; */
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  background-image: url(/images/logo_place_header.svg);
  z-index: 2;
}

.header__title {
  /* border: 1px solid red; */
  padding: 0;
  width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  align-self: center;
  z-index: 2;
   
}

.header__subtitle {
  /* border: 1px solid red; */
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
}

.header__link {
  /* border: 1px solid red; */
  text-decoration: none;
}

.header__main-illustrator {
  /* border: 1px solid red; */
  position: absolute;
  bottom: 0;
  right: 0;
  width: 765px;
  height: 608px;
  object-fit: cover;
  z-index: 1;
}


/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  /* border: 1px solid red; */
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
    
}

.description {
  /* border: 1px solid red; */
  padding-top: 100px;
  display: flex;
  justify-content: center;
}
.two-columns {
  /* border: 1px solid red; */
  display: flex;
  width: 80%;
  justify-content: space-between;
  /* align-items: flex-start; */
 }

.two-columns__brief {
  /* border: 1px solid red; */
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
}

.two-columns__main-text {
  /* border: 1px solid red; */
  margin: 0;
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  min-height: 332px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.digits {
  /* border: 1px solid red; */
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.section-title {
  /* border: 1px solid red; */
  margin: 0 0 20px;  
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  

}

.section-subtitle {
  /* border: 1px solid red; */
  margin: 0;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;  
  
}

.table {
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
  width: 1100px;
  /* padding: 60px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.table__cell {
  /* border: 1px solid red; */
  width: 250px;
  list-style-type: none;
  margin: 60px 0 0 0;
}

.table__heading {
  
  /* border: 1px solid red; */
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 20px;
}

.table__text {
  /* border: 1px solid red; */
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 20px;
  
}
.table__text:last-of-type {
  margin-bottom: 0%;
}


/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0; /* скорее всего это не нужно */
  margin-top: 80px;
}

/* .test{
  border: 1px solid red;
  width: 60%;
  display: flex;
} */